<!DOCTYPE html>
<html>
<head>
    <title>Bluemango Web-UI</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="card-list">
    <div class="scrolled" id="dv1">
        <div class="container">
            <div id="deleteable">
                <%
                for(var i = 0; i < rows.length; i++)
                {
                %>
                    <div class="card" onclick="post_onClick(<%= rows[i].idx %>)">
                        <div class="container-fluid">
                            <div class="card-body">
                                <p class="card-columns" id="idx"><%= rows[i].idx %></p>
                                <h5 class="card-title" id="title"><%= rows[i].title %></h5>
                                <p class="card-text" id="date"><%= rows[i].ctime %></p>
                                <p class="card-text" id="blue">블루</p>
                                <p class="card-text" id="from"><%= rows[i].url %></p>
                            </div>
                        </div>
                    </div>
                <%
                }
                %>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:30px">
        <p><input type="text" name="sidx" id="sidx" placeholder="idx 입력"> <input type="button" onclick="search_idx()"
                                                                                 value="idx 검색"></p>
        <p><input type="text" name="kidx" id="kidx" placeholder="keyword 입력"> <input type="button" onclick="search_keyword()"
                                                                                 value="keyword 검색"></p>
    </div>
</div>

<div class="card-list">
    <div class="form-group">
        <label for="form-title">제목</label>
        <input type="text" id="form-title" class="form-control">
        <label for="form-area">지역</label>
        <input type="text" id="form-area" class="form-control">
        <label for="form-date">날짜</label>
        <input type="text" id="form-date" class="form-control">
        <label for="form-target">지원대상</label>
        <textarea id="form-target" class="form-control"></textarea>
        <label for="form-support">지원내용</label>
        <textarea id="form-support" class="form-control"></textarea>
        <input type="button" onclick="submit_update()">
    </div>
</div>

<div class="card-list">
    <div id="htmlcode">
    </div>
</div>
<div id="circle1"></div>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/javascript/data.js"></script>
<script src="/javascript/post.js"></script>
<script src="/javascript/connection.js"></script>
</body>
</html>