<!DOCTYPE html>
<html>
<head>
    <title>Bluemango Web-UI</title>
</head>
<body class="all">
<div class="slice card-list">
    <div class="container">
        <div class="scrolled" id="dv1">
            <div id="deleteable">
                <%
                for(var i = 0; i < rows.length; i++)
                {
                %>
                    <div class="card" onclick="post_onClick(<%= rows[i].idx %>)">
                        <div class="container-fluid">
                            <div class="card-body">
                                <p class="card-columns" id="idx"><%= rows[i].idx %>
                                    <% if(rows[i].gob == 1) {%>💜<%}%>
                                </p>
                                <h5 class="card-title" id="title_<%= rows[i].idx %>"><%= rows[i].title %></h5>
                                <p class="card-text" id="date_<%= rows[i].idx %>"><%= rows[i].ctime %></p>
                                <p class="card-text" id="blue_<%= rows[i].idx %>">💙</p>
                                <p class="card-text" id="from"><%= rows[i].url %></p>
                            </div>
                        </div>
                    </div>
                <%
                }
                %>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row search">
            <div class="col">
                <input class="input-button-col" type="text" name="sidx" id="sidx" placeholder="idx 입력">
            </div>
            <div class="col">
                <input class="input-button-col" type="button" onclick="search_idx()" value="idx 검색">
            </div>
        </div>
        <div class="row search">
            <div class="col">
                <input class="input-button-col" type="text" name="kidx" id="kidx" placeholder="keyword 입력">
            </div>
            <div class="col">
                <input class="input-button-col" type="button" onclick="search_keyword()" value="keyword 검색">
            </div>
        </div>
        <div class="row search">
            <div class="col">
                <input class="input-button-col" type="date" id="startDate" placeholder="yyyy-mm-dd">
            </div>
            <div class="col">
                <input class="input-button-col" type="date" id="endDate" placeholder="yyyy-mm-dd">
            </div>
            <div class="col">
                <input class="input-button-col" type="button" onclick="search_date()" value="날짜 검색">
            </div>
        </div>
        <div class="row search">
            <div class="col">
                <input class="input-button-col" type="text" name="gobidx1" id="gobidx1" placeholder="시작 idx 입력">
            </div>
            <div class="col">
                <input class="input-button-col" type="text" name="gobidx2" id="gobidx2" placeholder="끝 idx 입력">
            </div>
            <div class="col">
                <input class="input-button-col" type="button" onclick="search_gob()" value="gob 0 검색">
            </div>
        </div>
    </div>
</div>

<div class="slice">
    <div class="form-group">
        <label for="form-title">제목</label>
        <input type="text" id="form-title" class="form-control">
        <label for="form-area">지역</label>
        <input type="text" id="form-area" class="form-control">
        <label for="form-date">날짜</label>
        <input type="text" id="form-date" class="form-control">
        <label for="form-target">지원대상</label>
        <textarea id="form-target" class="form-control"></textarea>
        <label for="form-support">지원내용</label>
        <textarea id="form-support" class="form-control"></textarea>
        <input class="save-button" type="button" onclick="submit_update()" value="Save">
    </div>
</div>

<div class="slice">
    <div class="container">
        <p>내용</p>
        <div id="inserted"></div>
    </div>
</div>
<div id="circle1"></div>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/javascript/connection.js"></script>
<script src="/javascript/cli.js"></script>
<script src="/javascript/post.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css'/>
</body>
</html>